<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="OpenJPAEnhancerBuilder"
         name="OpenJPA PC-Enhancer Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.apache.openjpa.eclipse.OpenJPAEnhancerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="OpenJPANature"
         name="OpenJPA Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.apache.openjpa.eclipse.OpenJPANature">
         </run>
      </runtime>
      <builder
            id="org.apache.openjpa.eclipse.OpenJPAEnhancerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.apache.openjpa.eclipse.contribution1">
         <action
               label="Add/Remove OpenJPA Builder"
               class="org.apache.openjpa.eclipse.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.apache.openjpa.eclipse.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="openJPAEnhancementProblem"
         name="OpenJPA Enhancement Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
